#nav{
    background-color: #fa4fe4;
    display: flex;
    gap: 10%;
    border-radius: 20px;
    font-size: x-large;
    margin-top: 15px;
  }
  #nav a{
    margin-top: 2%;
    color: black;
    font-size: large;
    gap: 7%;
    text-decoration: none;
  }
  #SIGNUP{
    display: flex; 
    gap: 5%;
    margin-top: 7%;
    margin-left: 200px;

}#icon{
    width:300px; ;
  }
  #form{
    background-color: rgb(246, 86, 241);
    width: 34%;
    height: 600px;
    border-radius: 20px;
   padding-left: 50px;
   padding-bottom: 0px; 
}#signup{
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 3px;
    margin-left: 180px;
    width: 20%;
    background-color: rgb(239, 74, 14);
}
#log{
    height: 20px;
    width:20px
    
  }
  #but{
    height: 60px; 
    width: 75px;
  }

  #signuplastn{
    margin-left: 25px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 15px;
}
#signupfrstn{
    margin-left: 25px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 15px;
}
#email{
    margin-left:55px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 15px;
    

}
#password{
    margin-left: 30px;
    -webkit-text-fill-color: rgb(255, 252, 251);
    border-radius: 20px;
    padding: 15px;
}

@media screen and (min-width:768px) and (max-width:1025px){
    #nav{
        background-color: #fa4fe4;
        display: flex;
        gap: 5%;
        border-radius: 20px;
        font-size: smaller;
        margin-top: 15px;
        width: 740px;
      }
      #nav a{
        margin-top: 2%;
        color: black;
        font-size: smaller;
        gap: 2%;
        text-decoration: none;
      }
      #SIGNUP{
        display: flex; 
        gap: 10px;
        margin-top: 7%;
        margin-left: 20px;
    
    }#icon{
        width:300px; ;
      }
      #image1{
        width: 100px;
        
      }
      #form{
        background-color: rgb(246, 86, 241);
        width: 320px;
        height: 600px;
        border-radius: 20px;
       padding-left: 50px;
       padding-bottom: 0px; 
    }#signup{
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 3px;
        margin-left: 180px;
        width: 20%;
        background-color: rgb(239, 74, 14);
    }
    #log{
        height: 20px;
        width:20px
        
      }
      #but{
        height: 60px; 
        width: 75px;
      }
    
      #signuplastn{
        margin-left: 25px;
        -webkit-text-fill-color: orangered;
        border-radius: 20px;
        padding: 15px;
    }
    #signupfrstn{
        margin-left: 25px;
        -webkit-text-fill-color: orangered;
        border-radius: 20px;
        padding: 15px;
    }
    #email{
        margin-left:55px;
        -webkit-text-fill-color: orangered;
        border-radius: 20px;
        padding: 15px;
        
    
    }
    #password{
        margin-left: 30px;
        -webkit-text-fill-color: orangered;
        border-radius: 20px;
        padding: 15px;
    }





}
@media screen and (min-width:280px) and (max-width:480px){
  #nav{
    background-color: #fa4fe4;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    border-radius: 20px;
    font-size: smaller;
    margin-top: 15px;
  }
  #nav a{
    margin-top: 2%;
    color: black;
    font-size: smaller;
    gap: 7%;
    text-decoration: none;
  }
  #SIGNUP{
    display: flex; 
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 7%;
    margin-left: 20px;

}#icon{
    width:30px; ;
  }
  #form{
    background-color: rgb(246, 86, 241);
    width: 300px;
    height: 600px;
    border-radius: 20px;
   padding-left: 50px;
   padding-bottom: 0px; 
}#signup{
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 3px;
    margin-left: 90px;
    width: 100px;
    background-color: rgb(239, 74, 14);
}
#image1{
  width: 60px;
}
#log{
    height: 20px;
    width:20px
    
  }
  #but{
    height: 60px; 
    width: 75px;
  }

  #signuplastn{
    /* margin-left: 50px; */
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
#signupfrstn{
    /* margin-left: 25px; */
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
#email{
    /* margin-left:55px; */
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
    

}
#password{
    /* margin-left: 30px; */
    -webkit-text-fill-color: rgb(255, 252, 251);
    border-radius: 20px;
    padding: 10px;
}

}
@media screen and (min-width:483px) and (max-width:765px){
  #nav{
    background-color: #fa4fe4;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    border-radius: 20px;
    font-size: smaller;
    margin-top: 15px;
  }
  #nav a{
    margin-top: 2%;
    color: black;
    font-size: large;
    gap: 7%;
    text-decoration: none;
  }
  #SIGNUP{
    display: flex; 
    gap: 5%;
    margin-top: 7%;
    margin-left: 20px;

}#icon{
    width:300px; ;
  }
  #image1{
    width: 50px;
  }
  #form{
    background-color: rgb(246, 86, 241);
    width: 300px;
    height: 550px;
    border-radius: 20px;
   padding-left: 50px;
   padding-bottom: 0px; 
}#signup{
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 3px;
    margin-left: 80px;
    width: 100px;
    background-color: rgb(239, 74, 14);
}
#log{
    height: 20px;
    width:20px
    
  }
  #but{
    height: 60px; 
    width: 75px;
  }

  #signuplastn{
    margin-left: 25px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
#signupfrstn{
    margin-left: 25px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
#email{
    margin-left:55px;
    -webkit-text-fill-color: orangered;
    border-radius: 20px;
    padding: 10px;
    

}
#password{
    margin-left: 30px;
    -webkit-text-fill-color: rgb(255, 252, 251);
    border-radius: 20px;
    padding: 10px;
}

}



